.App {
  background-color: #F5F5F5	;
  color: #000000;
  text-align: left;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: left;
  font-size: calc(10px + 2vmin);
  font-family: Arial, Helvetica, sans-serif;
  padding: 1vh 15vw 1vh 15vw;
}

.Header {
  padding: 0px 0px 0px 0px;
}

.Card {
  text-align: left;
  background-color:#FFFFFF;
  color: #000000;
  font-family: Arial, Helvetica, sans-serif;
  font-size: calc(2vmin);
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  width: 100%;
  border-radius: 5px;
  padding: 15px 15px 15px 15px;
  margin: 0px 5px 0px 5px;
}

.Row {
  display: flex;
  flex-direction: row;
  width: 100%;
  padding: 10px 0px 10px 0px;
}

.Search {
  font-family: Arial, Helvetica, sans-serif;
  font-size: calc(2vmin);
  width: 100%;
  display: flex;
  align-items: center;
}

.Button {
  font-family: Arial, Helvetica, sans-serif;
  font-size: calc(2vmin);
  padding: 5px 5px 5px 5px;
  margin: 5px 5px 5px 5px;
}

.Alert {
  font-family: Arial, Helvetica, sans-serif;
  font-size: calc(2vmin);
  padding: 10px 10px 10px 10px;
  background-color: #4CAF50;
  color: white;
  margin-bottom: 15px;
}

.Logo {
  width: calc(30px + 2vmin);
  height: calc(30px + 2vmin);
  margin: 0px 10px -5px 10px;
}